h1 {
  font-size: 1.5rem;
}

.movie-info {
  font-size: 0.5rem;
}

.modal-body {
  align-items: center;
}

.movie-title {
  font-size: 1rem;
  padding: 5px;
}
.modal-footer button {
  font-size: 0.7rem;
}
.modal-container {
  min-width: 80%;
}
.movie-info {
  font-size: 0.8rem;
}
label {
  font-size: 0.8rem;
}
input {
  size: 1rem;
}
.search-options {
  width: 60%;
}
