header {
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
}
.search-options {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.search-options button {
  font-size: 10px;
  border-radius: 7px;
}
.movie-name-wrapper {
  width: auto;
}
.movie-year-wrapper {
  width: auto;
}
.start-your-list-h2 {
  font-size: 1rem;
}

.my-movie img {
  max-width: 150px;
}
.my-movie button {
  font-size: 0.7rem;
}

label {
  font-size: 0.5rem;
}
.modal-body img {
  width: 60%;
}
.movie-title {
  font-size: 0.8rem;
}
.modal-container {
  padding: 10px;
  min-width: 80%;
}
.movie-info {
  font-size: 0.6rem;
}
