h1 {
  font-size: 1.3rem;
}
.search-options {
  width: 60%;
}
label {
  font-size: 0.6rem;
}
input {
  font-size: 0.6rem;
  height: 1.3rem;
}
.movie-name-wrapper input {
  width: 6rem;
}
.movie-info {
  font-size: 0.7rem;
}
.modal-container {
  padding: 10px;
  min-width: 80%;
}
.modal-footer button {
  font-size: 0.5rem;
}
